/* Style Sheet */
#game-title{
	text-align: center;
}

#instruction-text{
	text-align: center;
}

#p1-input{
	margin-left: 15%;
	display: inline-block;
}

#p2-input{
	float: right;
	margin-right: 15%;
	display: inline-block;
}

#start-button{
	text-align: center;
}

#instructions{
	margin-left: 30%;
}

#reset-button{
	margin-left: 30%;
}

#game-board{
	float: center;
}